<mat-card appearance="raised" class="inventory_contatiner">
  <mat-card-header>
    <mat-card-title>Inventory</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <div class="inventory_content">
      <div class="search_add_inventory_fields">
        <mat-form-field class="search_inventory_field">
            <mat-label>Search</mat-label>
            <input
              type="search"
              matInput
              placeholder="Search by name"
              [(ngModel)]="searchInventoryValue"
              (keyup.enter)="searchClicked()"
            />
            <mat-icon
              matSuffix
              fontIcon="search"
              aria-hidden="false"
              aria-label="Search Inventory"
              (click)="searchClicked()"
            ></mat-icon>
          </mat-form-field>
          <button mat-raised-button (click)="addNewInventory()" class="add_inventory_button">Add Inventory</button>
      </div>

    </div>
  </mat-card-content>

  <div class="inventory_items_data">
    @if (inventoryData) {
        <table mat-table [dataSource]="inventoryData" class="mat-elevation-z8 inventory_search_results">
            <ng-container matColumnDef="name">
                <th mat-header-cell *matHeaderCellDef> Name </th>
                <td mat-cell *matCellDef="let element"> {{element.product_name}} </td>
            </ng-container>
            <ng-container matColumnDef="quantity">
                <th mat-header-cell *matHeaderCellDef> Quanity </th>
                <td mat-cell *matCellDef="let element"> {{element.quantity}} {{element.units}} </td>
            </ng-container>
            <ng-container matColumnDef="action">
                <th mat-header-cell *matHeaderCellDef aria-label="row actions">Action</th>
                <td mat-cell *matCellDef="let element">
                  <mat-icon class="actionIcon" [matMenuTriggerFor]="actionMenu">more_vert</mat-icon>
                  <mat-menu #actionMenu="matMenu">
                    <button mat-menu-item (click)="editInventory(element)">Edit</button>
                    <button mat-menu-item (click)="historyOfInventory(element)">History</button>
                  </mat-menu>
                </td>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
    }    @else {
        <div class="no_results_container">
            No inventory found
        </div>
    }
  </div>
</mat-card>

@if (displayAddOrEditInventory()) {
  <app-inventory-add-edit [displayAddOrEditInventory]="displayAddOrEditInventory" [action]="inventoryAction" [inventoryItem]="editableInventoryDataItem"></app-inventory-add-edit>
}