<div class="app_contatiner">
    <mat-toolbar class="app_toolbar">
        <div class="toolbar_content">
            <div class="left_info">
                <button mat-icon-button (click)="toggleSidebar()" class="toogle_sidebar_button">
                    <mat-icon>menu</mat-icon>
                </button>
                <span class="company_brand_logo toolbar_text"><i>MGTS</i></span>
                @if(orgLoginActive) {
                    <span class="org_title toolbar_text">ABC Rice Mill</span>
                }
                @else {
                    <span class="org_title toolbar_text">Management Tech Solutions Inc.</span>
                }

            </div>
            <div class="right_info">
                <button mat-icon-button matTooltip="Help" class="toolbar_icons">
                    <mat-icon>help</mat-icon>
                </button>

                <button mat-icon-button matTooltip="User Profile" class="toolbar_icons" [matMenuTriggerFor]="userProfileMenu">
                    <mat-icon>account_circle</mat-icon>
                </button>

            </div>
        </div>

    </mat-toolbar>
    <mat-sidenav-container class="sidenav_container">
        <!-- Sidebar -->
        <mat-sidenav #sidenav mode="side" [opened]="sidebarOpen">
            <mat-nav-list class="nav_list">
                <a class="nav_list_item" mat-list-item [routerLink]="'/dashboard'"
                [ngClass]="{'active': isActiveRoute('/dashboard')}" routerLinkActive="active">
                    <span class="sidebar_nav_item">
                        <mat-icon class="sidebar_nav_icon">dashboard</mat-icon>
                        Dashboard
                    </span>
                </a>
                <a class="nav_list_item" mat-list-item [routerLink]="'/inventory'" routerLinkActive="active"
                [ngClass]="{'active': isActiveRoute('/inventory')}">
                    <span class="sidebar_nav_item">
                        <mat-icon class="sidebar_nav_icon">warehouse</mat-icon>
                        Inventory
                    </span>
                </a>
                <a class="nav_list_item" mat-list-item [routerLink]="'/sales'" routerLinkActive="active"
                [ngClass]="{'active': isActiveRoute('/sales')}">
                    <span class="sidebar_nav_item">
                        <mat-icon class="sidebar_nav_icon">monetization_on</mat-icon>
                        Sales
                    </span>
                </a>
            </mat-nav-list>
        </mat-sidenav>
    
        <!-- Main Content Area -->
        <mat-sidenav-content class="content sidenav_content">
            
            <div class="content-area">
                <router-outlet></router-outlet>
            </div>
        </mat-sidenav-content>
    </mat-sidenav-container>
    
    <footer class="app_footer">
        <div class="footer_content">
          <span>© 2025 MGTS</span>
          <span> | </span>
          <a href="/privacy-policy" target="_blank" rel="noreferrer">Privacy Policy</a>
          <a href="/terms" target="_blank" rel="noreferrer">Terms of Service</a>
        </div>
    </footer>    
</div>


<mat-menu #userProfileMenu="matMenu" class="user_menu">
    <div class="user_menu">
        @if(loginActive) {
            <button mat-menu-item [routerLink]="'/my-account'">My Account</button>
            <button mat-menu-item (click)="signOut()">Sign Out</button>
        }
        @else {
            <button mat-menu-item [routerLink]="'/signin'">
                <mat-icon class="user_menu_icon">login</mat-icon>
                Sign In
            </button>
            <button mat-menu-item [routerLink]="'/create-profile'">
                <mat-icon class="user_menu_icon">person_add</mat-icon>
                Create Account
            </button>
        }
    </div>
</mat-menu>
