.create_profile_card {
    margin:20px;
}

.form_contatiner {
    margin-top:25px;
    display: flex;
    flex-wrap: wrap;
    gap: 25px;
}


mat-form-field {
    flex-basis: 300px;
}

.create_profile_stepper {
   padding:10px;
}

.stepper_action_buttons{
    button {
        margin-right: 25px;
    }
}

.final_Actions {
    display: flex;
    justify-content: center;
}


.notification_contatiner{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 50px;
}
.inventory_notification {
    background-color: #f6f8f9;
    color: #333;
    border-radius: 8px;
    padding: 12px 20px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
    display: flex;
    align-items: center;
    width: auto;
    max-width: 500px;
    z-index: 1000;
  
    .notification-content {
      display: flex;
      align-items: center;
      width: 100%;
    }
  
    .notification-icon {
      margin-right: 10px;
      font-size: 24px;
    }
  
    .notification-message {
      flex-grow: 1;
      font-size: 14px;
      font-weight: 500;
    }

    &.info {
      background-color: #e6f7ff;
      border-left: 4px solid #3399ff;
    }

  }
  